<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="row">
      <div id="containner" class="col-sm-12">    
        <div class="jumbotron">
          <span class="input-group-addon"><a class="btnMenu" href="/produto/list" role="button">Estoque</a></span>  
        </div>
      </div>
      <div id="containner" class="col-sm-12">    
        <div class="jumbotron">
          <span class="input-group-addon"><a class="btnMenu" href="/produto/add" role="button">Entrada</a></span>  
        </div>
      </div>
      <div id="containner" class="col-sm-12">    
        <div class="jumbotron">
          <span class="input-group-addon"><a class="btnMenu" href="/produto/saida" role="button">Saída</a></span>  
        </div>
      </div>
    </div>
  </main>

  <footer>
  <% include ../partials/footer %>
  </footer>

  </body>
</html>