<!DOCTYPE HTML>
<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>

  <!-- Header -->
    <header id="header" class="alt">
      <% include ../partials/header %>
    </header>

  <!-- Nav -->
    <nav id="menu">
      <ul class='links'>
        <li><a href='/'>Home</a></li>
        <li><a href='/produto'>Produtos</a></li>
      </ul>
    </nav>

  <!-- Banner -->
    <section id="One" class="wrapper style3">
      <div class="inner">
        <header class="align-center">
          
        </header>
      </div>
    </section>

  <!-- One -->
    <section id="two" class="wrapper style2">
      <div class="inner">

          <span><a class="button fit small" href="/produto/list" role="button">Estoque</a></span>  
          <span><a class="button fit small" href="/produto/add" role="button">Entrada</a></span>  
          <span><a class="button fit small" href="/produto/saida" role="button">Saída</a></span>  


      </div>
    </section>
  <!-- Footer -->
    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>