<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Cataclysm</title>

<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src="/javascripts/jquery-1.12.0.js"></script>
<script type="text/javascript" src="/javascripts/validacao.js"></script>
<script type="text/javascript" src="/javascripts/ajax.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
