<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a href="/" class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-leaf"></span>
            WC
        </a>
    </div>
</div>
</nav>