<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Didox Business & Technology" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
    </div><!-- /.carousel -->
    <div class="container marketing">
      <div class="row">
        <div class="center" style="width:350px">
          <h2>Projetos desenvolvidos</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4">
          <a href="http://maratonavirtual.com/" target="_blank">
            <img class="img-circle" src="/imagens/maratona.png" alt="Maratona virtual" width="140" height="140">
          </a>
          <h2>Wi-cooperation</h2>
          <p>Aplicação para micro-.</p>
          <p><a class="btn btn-default" href="http://wi-cooperation.surge.sh/" role="button" target="_blank">Ver mais &raquo;</a></p>
        </div>
      </div>
      <!-- START THE FEATURETTES -->
      <hr>
      <div class="row featurette">
        <div class="col-md-7">
          <div id="clientes">
            
          </div>
          <br>
          <div id="missao">
            
          <div>
          <div id="contato">
            
          <div>
          <br>
          <div id="info">
            
          </div>
        </div>
      </div>
      <hr class="featurette-divider">
      <%- include('../shared/footer') %>
    </div><!-- /.container -->
  </body>
</html>
