<!DOCTYPE HTML>
<html>
    <head>
      <% include ../partials/head %>
    </head>
    <body>

    <!-- Header -->
        <header id="header" class="alt">
            <% include ../partials/header %>
        </header>

    <!-- Nav -->
        <nav id="menu">
            <ul class='links'>
                <li><a href='index.html'>Home</a></li>
                <li><a href='generic.html'>Generic</a></li>
                <li><a href='elements.html'>Elements</a></li>
                <li><a href='model.html'>Model</a></li>
            </ul>
        </nav>

    <!-- Banner -->
        <section id="One" class="wrapper style3">
            <div class="inner">
                <header class="align-center">
                    
                </header>
            </div>
        </section>

    <!-- One -->
        <section id="two" class="wrapper style2">
            <div class="inner">
                <main>
                    <div class="table-wrapper">
                        <table class="table table-striped" id="aboutTbl">
                            <tr>
                                <th>Company</th>
                                <td><%=about.name %></td>
                            </tr>
                            <tr>
                                <th>CEO</th>
                                <td><%=about.CEO %></td>
                            </tr>
                            <tr>
                                <th>Year</th>
                                <td><%=about.year %></td>
                            <tr>
                            </tr>
                        </table>
                    </div>
                </main>

            </div>
        </section>
    <!-- Footer -->
        <footer id="footer">
            <% include ../partials/footer %>
        </footer>
    </body>
</html>